.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 95vh;
    line-height: 1.4;
}

.card__container {
    width: 400px;
    background: var(--White-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-direction: column;
    border-radius: 1rem;
    gap: 1rem;
    text-align: center;
    box-shadow: 0px 10px 35px -5px hsla(224, 23%, 55%, 0.4);
}

.card__container_img_container img{
    border-radius: 1rem 1rem 0 0 ;
    width: 100%;
}

.card__container_info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: 0 2.5rem 2.5rem;
}

h1{
    font-size: 1.5rem;
    font-weight: 900;
    margin-top: 1rem;
}

.card__container_infotext{
    color: var(--Desaturated-blue);
    font-size: 0.9rem;
    font-weight: 700;
}

.card__container_plan{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    align-content: center;
    flex-direction: row;
    background: var(--Very-pale-blue);
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    margin: 0.2rem 0;
}

.card__container_plan_price{
    width: 50%;
    text-align: left;
}

.card__container_plan_price_type_plan{
    font-weight: 900;
    font-size: 0.9rem;
}

.card__container_plan_price_type_price{
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--Desaturated-blue);
    
}

.card__container_plan_btn a{
    font-weight: 900;
    font-size: 0.9rem;
    color: var(--Bright-blue);
}

.card__container_plan_btn a:hover{
    text-decoration: none;
    opacity: 0.7;
}

button {
    width: 100%;
    background: var(--Bright-blue);
    border-radius: 0.5rem;
    color: var(--Pale-blue);
    font-weight: 900;
    font-size: 0.8rem;
    border: none;
    padding: 0.9rem 0;
    margin: 0.5rem 0;
    opacity: 1;
    box-shadow: 0px 10px 35px -5px hsla(224, 23%, 55%, 0.6);
}

button:hover{
    cursor: pointer;
    opacity: 0.7;
}

.card__container_cancel a{
    font-weight: 900;
    font-size: 0.9rem;
    text-decoration: none;
    color: var(--Desaturated-blue);
}

.card__container_cancel a:hover{
    color: var(--Dark-blue);
}

@media screen and (max-width: 440px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        padding: 4rem 1rem 1rem 1rem;
    }
    
    .card__container {
        width: 100%;
    }
  }